<nz-card>
    <nz-page-header class="site-page-header" nzBackIcon [nzTitle]="idForUpdate ? 'Update Quick Reply' : 'Add Quick Reply'"></nz-page-header>
    <nz-divider></nz-divider>
    <form nz-form [formGroup]="quickReplyForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" [nzSpan]="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="24" nzFor="message">Message</nz-form-label>
                    <nz-form-control [nzSpan]="24" nzErrorTip="Should not be blank">
                        <textarea formControlName="message" nz-input rows="4" placeholder="Enter message"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzJustify="end">
            <button nz-button nzType="primary" [nzLoading]="buttonLoading" (click)="submit()" class="submitoraddbutton">
        Submit
      </button>
        </div>
    </form>
</nz-card>