$ecademictubeColor: #f15838;
$ecademictubeSecondaryColor: #143753;
$ecademictubeCardRadius: 10px;
$ecademictubeRed: #FD3304;
$ecademictubeShadow: 0 5px 10px 0 rgba(201, 200, 200, 0.32);
$ecademictubeShadowHover: 0 5px 20px 0 rgba(201, 200, 200, 0.32);
